/* background color #32363C, #AC0000; */

/* HEADER */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #777;
    font-weight: 400;
}

.container-fluid {
    background: url('../img/background-transparent.png'), #32363C;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
    background-size: cover;
    height: 100vh;
}

.header {
    background-color: #AC0000;
    margin-bottom: 30px;
}

.header h1 {
    color: #fff;
    padding: 15px 0;
    font-size: 3em;
    font-weight: 800;
}

/* SEARCHBAR */
.label {
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 5px;
}

.input-group {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
}

.react-autosuggest__container {
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.react-autosuggest__input {
    width: 100%;
    background: #32363C;
    border: 1px solid #AC0000;
    font-size: 1em;
    padding: 10px;
    outline: none;
    color: #fff;
}

.react-autosuggest__suggestions-container {
    max-height: 50vh;
    overflow: scroll;
}

.react-autosuggest__suggestions-container--open {
    background-color: rgba(255, 255, 255, 0.66);
}

.react-autosuggest__suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.react-autosuggest__suggestion {
    color: #fff;
    cursor: pointer;
    margin: 4px 0 4px 10px
}

.react-autosuggest__suggestion--highlighted {
    color: #AC0000;
}

button {
    width: 20%;
    padding: 10px;
    background: #AC0000;
    color: #fff;
    border: none;
    outline: none;
    transition: .5s;
    border: 1px solid #AC0000;
}

button:hover {
    background: #850000;
}

/* FOOTER */
.footer {
    margin-top: 30px;
}

.attribution a {
    color: #fff;
    font-size: .85em;
    opacity: .8;
}

.attribution a:hover {
    text-decoration: none;
}