/* background color #32363C, #AC0000; */

/* HEADER */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #777;
    font-weight: 400;
    background-color: #32363C;
}

a:hover {
    text-decoration: none;
}


.container-fluid {
    background: url('../img/background-transparent.png'), #32363C;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
    background-size: cover;
    height: 100vh;
}

.header {
    background-color: #AC0000;
    margin-bottom: 30px;
}

.header h1 {
    padding: 15px 0;
    font-size: 3em;
}

.brand-logo {
    color: #fff;
    font-weight: 800;
}

.brand-logo:hover {
    color: #fff;
}

/* SEARCHBAR */
.label {
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 5px;
}

.input-group {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
}

.react-autosuggest__container {
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.react-autosuggest__input {
    width: 100%;
    background: #32363C;
    border: 1px solid #AC0000;
    font-size: 1em;
    padding: 10px;
    outline: none;
    color: #fff;
}

.react-autosuggest__suggestions-container {
    max-height: 50vh;
    overflow: scroll;
}

.react-autosuggest__suggestions-container--open {
    background-color: rgba(255, 255, 255, 0.66);
}

.react-autosuggest__suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.react-autosuggest__suggestion {
    color: #fff;
    cursor: pointer;
    margin: 4px 0 4px 10px
}

.react-autosuggest__suggestion--highlighted {
    color: #AC0000;
}

.button {
    width: 20%;
    padding: 10px;
    background: #AC0000;
    color: #fff;
    outline: none;
    transition: .5s;
    border: 1px solid #AC0000;
}

.button:hover {
    background: #850000;
}

/* FOOTER */
.footer {
    margin: 20px 0;
}

.attribution a {
    color: #fff;
    font-size: .85em;
    opacity: .8;
}

.attribution a:hover {
    text-decoration: none;
}

/* LOADING */
.loading {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    margin: 15px 0;
}

/* CHARACTER CARD */
.character-card {
    border-top: 20px solid #AC0000;
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.character-main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.character-img {
    width: 30%;
}

.character-img img {
    width: 100%;
}

.character-name {
    color: #AC0000;
    font-weight: 800;
}

.character-summary {
    width: 67%;
}

.character-appearances {
    font-size: .85em;
    font-weight: 800;
}

.appearances-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .85em;
}

.character-side-info {
    margin-top: 20px;
    background-color: #E5E5E5;
    padding: 8px;
    font-size: .8em;
    text-align: center;
}

.character-find-out-a {
    color: #AC0000;
    transition: .5s;
}

.character-find-out-a:hover {
    text-decoration: none;
    color: #850000;
}

.c-info-h3 {
    margin: 25px 0;
    font-weight: 800;
    color: #fff;
}

.events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

/* EVENT CARD */
.event-card {
    border-top: 10px solid #AC0000;
    padding: 12px;
    background: #fff;
    width: 48%;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.event-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-img {
    width: 30%;
}

.event-img img {
    width: 100%;
}

.event-name {
    color: #AC0000;
    font-weight: 800;
}

.event-summary {
    width: 67%;
}

.event-summary-p {
    font-size: .8em;
    margin-bottom: 0;
}